---
permalink: flashcards.html
---
<div class="notes-and-flashcards-container">
    <h1>Flashcards</h1>
    <p>
        In order for studied material to persist in your memory, it is important to review it frequently. I'm a big fan of <a href="https://apps.ankiweb.net/" target="_blank" rel="noopener noreferrer">Anki</a> and the <a href="https://en.wikipedia.org/wiki/Spaced_repetition" target="_blank" rel="noopener noreferrer">Spaced Repetition System (SRS)</a>, which can boost your memory with active recall on spaced intervals.
    </p>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>AWS Certifications</th>
                    <th>Link to Anki Deck</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AWS Cloud Practitioner</td>
                    <td><a href="https://ko-fi.com/s/98959903e0" target="_blank" rel="noopener noreferrer">CLF-C02 Flashcards</a></td>
                </tr>
                <tr>
                    <td>AWS AI Practitioner</td>
                    <td><a href="https://ankiweb.net/shared/info/73981918?cb=1729505948829" target="_blank" rel="noopener noreferrer">AIF-C01 Flashcards (FREE!)</a></td>
                </tr>
                <tr>
                    <td>AWS Solutions Architect Associate</td>
                    <td><a href="https://ko-fi.com/s/2eece23025" target="_blank" rel="noopener noreferrer">SAA-C03 Flashcards</a></td>
                </tr>
                <tr>
                    <td>AWS ML Engineer Associate</td>
                    <td><a href="https://ko-fi.com/s/62c570b54f" target="_blank" rel="noopener noreferrer">MLA-C01 Flashcards</a></td>
                </tr>
                <tr>
                    <td>AWS Generative AI Developer Professional</td>
                    <td><a href="https://ko-fi.com/s/22e0104816" target="_blank" rel="noopener noreferrer">AIP-C01 Flashcards</a></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Other Courses</th>
                    <th>Link to Anki Deck</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://learn.cantrill.io/p/tech-fundamentals" target="_blank" rel="noopener noreferrer">Tech Fundamentals by ACantril</a></td>
                    <td><a href="https://ankiweb.net/shared/info/27081502?cb=1741369287565" target="_blank" rel="noopener noreferrer">Tech Fundamentals Flashcards (FREE!)</a></td>
                </tr>
                <tr>
                    <td><a href="https://learn.cantrill.io/p/docker-fundamentals" target="_blank" rel="noopener noreferrer">Docker Fundamentals by ACantril</a></td>
                    <td><a href="https://ankiweb.net/shared/info/13215505?cb=1739985614051" target="_blank" rel="noopener noreferrer">Docker Fundamentals Flashcards (FREE!)</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
