<div class="index-container">
    <!-- Left Column: Image -->
    <div class="left-column">
        <img src="/images/cgreciano.jpg" alt="Profile Picture" class="profile-img" eleventy:ignore>
        <img src="/images/Badges.png" alt="Badges" class="badges-img" eleventy:ignore>
    </div>

    <!-- Right Column: Text -->
    <div class="right-column">
        <h1>Christian Greciano</h1>
        <p>
            Welcome! I'm Christian, also known as GlosuU in some platforms. I'm a hyperpolyglot computer engineer with more than 8 years of experience in the IT industry (mostly in backend). My current interests lie in cloud computing (AWS), AI, ML, and NLP technologies. I am also passionate about learning, teaching, and education.
        </p>
        <p>
            In the navigation bar above you can find my study notes, my flashcards, and my blog posts on various subjects of my interest (e.g. AWS certifications, IT courses...). I hope they will be useful to you! If you liked them and they helped you, feel free to reach out to me in <a href="https://www.linkedin.com/in/christian-greciano-408930bb/" target="_blank" rel="noopener noreferrer">LinkedIn</a> or other social platforms. I also appreciate your kind donations! You can donate via Ko-Fi, Stripe, or PayPal.
        </p>
        <!-- Donation Buttons -->
        <div class="buttons">
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js' eleventy:ignore></script><script type='text/javascript' eleventy:ignore>kofiwidget2.init('Donate via Ko-Fi', '#72a4f2', 'W7W414Y3GZ');kofiwidget2.draw();</script> 
            <a href="https://buy.stripe.com/eVa4kf08z6eM9W06oo" target="_blank" rel="noopener noreferrer" class="stripe-button">
                <img src="/images/stripe.jpeg" alt="Stripe" class="stripe-img" eleventy:ignore>
                Donate via Stripe
            </a>
            <form action="https://www.paypal.com/donate" method="post" target="_blank">
                <input type="hidden" name="hosted_button_id" value="SQFATDP9WPRGJ" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_FI/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
</div>
