---
permalink: notes.html
---
<div class="notes-and-flashcards-container">
    <h1>Study Notes</h1>
    <p>
        Online notes are accessible in Notion, totally FREE! Offline notes in PDF format are available for purchase.
    </p>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>AWS Certifications</th>
                    <th>PDF</th>
                    <th>Notion (FREE!)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AWS Cloud Practitioner</td>
                    <td><a href="https://ko-fi.com/s/f0b05f206e" target="_blank" rel="noopener noreferrer">CLF-C02 PDF</a></td>
                    <td><a href="https://psychedelic-cuticle-e74.notion.site/AWS-Cloud-Practitioner-CLF-C02-1cb86c7395e78094a7cfff1bcec54c81" target="_blank" rel="noopener noreferrer">CLF-C02 Link</a></td>
                </tr>
                <tr>
                    <td>AWS AI Practitioner</td>
                    <td><a href="https://ko-fi.com/s/22d833187f" target="_blank" rel="noopener noreferrer">AIF-C01 PDF</a></td>
                    <td><a href="https://psychedelic-cuticle-e74.notion.site/AWS-AI-Practitioner-AIF-C01-10386c7395e780e89ea4c70bb061451b" target="_blank" rel="noopener noreferrer">AIF-C01 Link</a></td>
                </tr>
                <tr>
                    <td>AWS Solutions Architect Associate</td>
                    <td><a href="https://ko-fi.com/s/5a15162396" target="_blank" rel="noopener noreferrer">SAA-C03 PDF</a></td>
                    <td><a href="https://psychedelic-cuticle-e74.notion.site/AWS-Solutions-Architect-Associate-SAA-C03-917631d1eb354a1f9bb355154879358d" target="_blank" rel="noopener noreferrer">SAA-C03 Link</a></td>
                </tr>
                <tr>
                    <td>AWS ML Engineer Associate</td>
                    <td><a href="https://ko-fi.com/s/5b14415ab4" target="_blank" rel="noopener noreferrer">MLA-C01 PDF</a></td>
                    <td><a href="https://psychedelic-cuticle-e74.notion.site/AWS-Machine-Learning-Engineer-Associate-MLA-C01-19686c7395e780e1bab0eac37d0401a0" target="_blank" rel="noopener noreferrer">MLA-C01 Link</a></td>
                </tr>
                <tr>
                    <td>AWS Generative AI Developer Professional</td>
                    <td>Coming soon!</td>
                    <td>Coming soon!</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Other Courses</th>
                    <th>PDF</th>
                    <th>Notion (FREE!)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://learn.cantrill.io/p/tech-fundamentals" target="_blank" rel="noopener noreferrer">Tech Fundamentals by ACantril</a></td>
                    <td><a href="https://ko-fi.com/s/9675ca2858" target="_blank" rel="noopener noreferrer">Tech Fundamentals PDF</a></td>
                    <td><a href="https://psychedelic-cuticle-e74.notion.site/Tech-Fundamentals-ACantril-6a70e10c6f174449ab29ebe34b3af0b5" target="_blank" rel="noopener noreferrer">Tech Fundamentals Link</a></td>
                </tr>
                <tr>
                    <td><a href="https://learn.cantrill.io/p/docker-fundamentals" target="_blank" rel="noopener noreferrer">Docker Fundamentals by ACantril</a></td>
                    <td><a href="https://ko-fi.com/s/4bdf20c4b2" target="_blank" rel="noopener noreferrer">Docker Fundamentals PDF</a></td>
                    <td><a href="https://psychedelic-cuticle-e74.notion.site/Docker-Fundamentals-ACantril-c4432ccb804d44e7a7f16504baa5ab18" target="_blank" rel="noopener noreferrer">Docker Fundamentals Link</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
